.container {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    font-family: "system-ui";
    font-weight: 1000;
    text-align: center;
    color: white;
    height: 100%;
    background-color: #5465FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #E2FDFF;
    text-align: center;
}

form > div {
    width: 100%;
    padding: 0 2rem;
}

label {
    font-family: "system-ui";
    font-weight: 400;
}

input {
    font-family: "system-ui";
    display: block;
    border: none;
    outline: 0;
    padding: .75rem;
    border-radius: 1rem;
    border: 1px solid rgba(0,0,0,0.4);
    width: 75%;
    margin: 0 auto;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-size: 1rem;
}

.container-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

button {
    border: 0;
    outline: 0;
    padding: 1rem;
    background-color: #5465FF;
    color: #E2FDFF;
    font-family: "system-ui";
    font-weight: bold;
    border-radius: 1rem;
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
    background-color: #788BFF;
}